@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	height: 100vh;
}

.grid-row-100 {
	grid-template-rows: 100%;
}

*::-webkit-scrollbar {
	height: 12px;
	width: 2px;
}
*::-webkit-scrollbar-track {
	background: #252424;
}
*::-webkit-scrollbar-thumb {
	background-color: #1d1d1e;
	border-radius: 5px;
	/*border: 3px solid orange;*/
}
